[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"

[packages]
python-decouple = "*"
pygments = "*"
rules = "*"
sorl-thumbnail = "*"
django-extensions = "*"
django-addanother = "*"
django = "*"
django-pure-pagination = "*"
psycopg2 = "*"
requests = "*"
pillow = "*"
mysqlclient = "*"
whitenoise = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.6"
