[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
pygments = "*"
sorl-thumbnail = "*"
django-extensions = "*"
django-addanother = "*"
rules = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
