[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
pygments = "*"
sorl-thumbnail = "*"
django-extensions = "*"
django-addanother = "*"
rules = "*"
django = "*"
django-pure-pagination = "*"
django-debug-toolbar = "*"
"psycopg2" = "==2.7.3.2"
"sorl.thumbnail" = "*"
requests = "*"
pylint = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
