{% extends "viani_base.html" %}
{% block title %}Login{% endblock title %}

{% block body %}

<div class="container login-form text-center">

    {% if form.errors %}
        <p>Wrong username and/or password</p>
    {% endif %}

    <h2>Login</h2>

    <form method="post" action="{% url 'personnel:login' %}">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username }}
            <span class="fa fa-user" aria-hidden="true"></span>
        </div>

        <div class="form-group">
            {{ form.password }}
            <span class="fa fa-unlock-alt" aria-hidden="true"></span>
        </div>
        <button class="btn btn-success btn-sm float-right" type="submit" value="login">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'personnel:password_reset' %}" class="btn btn-success btn-sm float-left">Forgot password?</a></p>

</div>

<hr class="login-form">

{% include "tools.html" %}
{% endblock body %}
