{% extends "funnshopp_base.html" %}
{% block title %}Confirm password reset{% endblock title %}

{% block body %}

<div class="container upload-form" class="text-center">
    {% if validlink %}

        <h2 class="text-center">Confirm password reset</h2>

        <p>Please enter (and confirm) your new password.</p>

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            <p>{{ form.new_password1 }}</p>
            <p>{{ form.new_password2 }}</p>
            <button class="btn btn-success btn-sm btn-block" type="submit" value="Reset password">Reset password</button>
        </form>
    {% else %}
        <h1 class="text-danger">Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used or has expired.
        Please request a new password reset link <a href="{% url 'personnel:password_reset' %}">here</a></p>
    {% endif %}
</div>

{% endblock body %}
