{% extends "viani_base.html" %}
{% block title %}Change password{% endblock title %}

{% block body %}
<div class="container login-form text-center">

    <h2 class="text-center">Change password</h2>

    <form method="post" action="">
        {% csrf_token %}

        <p>{{ form.old_password }}</p>
        <p>{{ form.old_password.errors }}</p>

        <p>{{ form.new_password1 }}</p>
        <p>{{ form.new_password1.errors }}</p>

        <p>{{ form.new_password2 }}</p>
        <p>{{ form.new_password2.errors }}</p>

        <ul>
            <li class="text-info text-left">Your password can't be too similar to your other personal information.</li>
            <li class="text-info text-left">Your password must contain at least 8 characters.</li>
            <li class="text-info text-left">Your password can't be a commonly used password.</li>
            <li class="text-info text-left">Your password can't be entirely numeric.</li>
        </ul>
       <button class="btn btn-success btn-sm float-right" type="submit" value="Change Password">Change Password</button>
    </form>
</div>

{% endblock body %}