/* fix nav scrolling on small screens */
@media (min-width: 300px) {
    .navbar-collapse.navcontent.collapse.show {
        max-height: 500px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
}

.navbar-dark .navbar-brand {
    font-size: 28px;
}

.dropdown-menu > a.nav-link {
    padding: 3px;
}

.dropdown-divider {
    margin: .2rem;
}

table td {
    white-space: nowrap;
}

table th {
    color: orange;
}

.login-form {
    max-width:350px;
    margin:auto;
    /*border: 1px solid #595959;*/
    border-radius: 5px;
    padding-bottom: 50px;
  }

  .form-group {
    position: relative;
  }

  .login-logo {
    margin:auto;
  }

  input#id_username {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }

  input#id_password {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }

  .fa-user {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: rebeccapurple;
    border-right: 1px solid #ccc;
    padding-right: 5px;
  }

  .fa-unlock-alt {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: rebeccapurple;
    border-right: 1px solid #ccc;
    padding-right: 5px;
  }

.social-google {
    border-radius: 0.15rem;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}
.social-google .login-using-icon-div {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    width: 20%;
}
.social-google .login-using-icon {
    font-size: 22px;
    display: block;
    width: 30%;
    margin: auto;
    padding-top: 0.25rem;
}
.social-google .login-using-text-div {
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
    width: 80%;
}
.social-google .login-using-text {
    display: block;
}

/* login form */

.form-group {
    position: relative;
}

input#id_username {
    text-indent: 2rem;
    position: relative;
}
input#id_email {
    text-indent: 2rem;
    position: relative;
}
input#id_password {
    text-indent: 2rem;
    position: relative;
}

input#id_username {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input#id_password {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.fa-user {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: #336B87;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.fa-unlock-alt {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: #336B87;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2A3131;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
