* {
    box-sizing: border-box;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 57, 57, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a:hover {
    text-decoration: none;
}

.page_wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    min-height: 70px;
}

header a {
    font-size: 18px;
    text-decoration: none;
}

header a:hover {
    color: #FFFFFF;
    font-weight: bold;
}

a.navbar_brand {
    font-size: 40px;
    text-decoration: none;
}

/* media queries */

/* fix nav scrolling on small screens */
@media (min-width: 300px) {
    .navbar-collapse.navcontent.collapse.show {
        max-height: 500px !important;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
}

@media (max-width: 768px) {
    /* Global */
    div.body_container {
        width: 95%;
    }
}

/* Global */
.body_container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.form_container {
    width: 80%;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px #2A3131;
}

.form_container button {
    width: 100%;
}

label {
    font-weight: bold;
}

.registration_form {
    text-align: center;
}

button.btn-primary:hover {
    opacity: 0.9;
    border-color: #336B87;
    background-color: #336B87;
}

.filter_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter {
    margin: 15px 0;
}

.filter span {
    margin-left: 5px;
    margin-right: 5px;
}

.filter button {
    width: 50%;
    margin: 5px auto;
    display: block;
}

/* job detail */

.viani_card {
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 30px #2A3131;
}

.job_actions_grid {
    display: grid;
    justify-content: space-evenly;
}

.job_actions {
    margin-bottom: 15px;
}

.job_actions button {
    margin: 5px;
}

.figures, .details {
    font-weight: bold;
}

/* table styles */
table.jobs_table > tbody > tr:last-child {
    background: #FFFFFF;
}

table {
    width: 99%;
    margin: auto;
    text-align: center;
}

table a:hover {
    text-decoration: none;
}

table td {
    padding: 0;
}

th {
    padding: 7px;
    white-space: nowrap;
}

tbody tr:nth-of-type(odd) {
    background: #336B87;
}

tbody tr:nth-of-type(even) {
    background: #5BC0DE;
}

tbody tr:hover {
    border: 1px solid #2A3131;
}

table tr td {
    padding: 5px 10px;
}

tr.summation_row td {
    font-weight: bold;
}

tbody tr.job-completed {
    background: #62C462;
}

/* login form */

.form-group {
    position: relative;
}

input#id_username {
    text-indent: 2rem;
    position: relative;
}
input#id_email {
    text-indent: 2rem;
    position: relative;
}
input#id_password {
    text-indent: 2rem;
    position: relative;
}

input#id_username {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input#id_password {
    text-indent: 30px;
    position: relative;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.fa-user {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: #336B87;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.fa-unlock-alt {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    color: #336B87;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.pagination {
    padding: .5rem;
    background: #CCC;
}

.pagination a {
    padding: 0 10px;
}

span.next, span.prev {
    padding: 0 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2A3131;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
