{% extends "funnshopp_base.html" %}
{% block title %}Assign staffs to manager{% endblock %}
{% block content_content %}

<div class="container upload-form">

    <h2>Assign staffs to manager</h2>
    <hr>

    <p>To unassign a staff, simply select the staff again</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.staffs.errors  }}</p>
        <p>{{ form.staffs.label  }}</p>
        {% for staff in form.staffs %}
            <p>{{ staff.tag }} {{ staff.choice_label }}</p>
        {% endfor %}

        <button class="btn btn-success btn-sm float-right" type="submit" value="Assign">Assign</button>

    </form>
</div>
{% endblock content_content %}
{% block footer %}{% endblock footer %}
