{% extends "funnshopp_base.html" %}
{% block title %}Groups{% endblock title %}
{% block  content_content %}

<div class="row">
    <div class="col-sm-12">
        <h2>Groups <a href="{% url 'personnel:new_group' %}"><i class="fas fa-plus h4" style="margin-bottom:0"></i></a></h2>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Group</caption>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Members</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{% for each in group.user_set.all %}
                        {{ each.personnel.display_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a title="Add to {{ group }}" href="{% url 'personnel:add_personnels_to_group' group.pk %}"><i class="fas fa-plus"></i></a> |
                    <a title="Remove from {{ group }}" href="{% url 'personnel:remove_personnel_from_group' group.pk %}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <p>No registered Group</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
