{% extends "funnshopp_base.html" %}
{% block title %}Revoke permission{% endblock %}
{% block content_content %}

<div class="container upload-form">

    <h2>Revoke {{ permission }} access</h2>
    <hr>
    <p>The following people have this permission</p>
    <p class='text-primary'>
        {% for personnel in permission.personnel.all %}
            {{ personnel.display_name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.personnels.label }}</p>
        {{ form.personnels.errors }}

        {% for personnel in form.personnels %}
            <p>{{ personnel.tag }} {{ personnel.choice_label }}</p>
        {% endfor %}

        <button class="btn btn-success btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>

{% endblock %}

