{% extends "funnshopp_base.html" %}
{% block title %}Permission index{% endblock title %}
{% load personnel_custom_tags %}
{% block content_content %}

<h2>Permissions <a class="text-primary" href="{% url 'personnel:grant_multiple_permissions' %}" title="Grant multiple permissions"><i class="fas fa-users h4" style="margin-bottom:0"></i></a></h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <caption>Permission</caption>
            <tr>
                <th>S/N.</th>
                <th>Name</th>
                <th>Code</th>
                <th>Personnels</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for permission in generic_permissions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'personnel:permission_detail' permission.pk %}">{{ permission.name }}</a></td>
                <td>{{ permission.code_name }}</td>
                <td>
                    {% with permission.personnel.all as perm_pers %}
                        {% for personnel in perm_pers %}
                            {{ personnel.display_name }}{% if not forloop.last %}, {% else %}{% endif %}
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>
                    <a title="Grant permission" href="{% url 'personnel:grant_permission' permission.pk %}"><i class="fas fa-plus"></i></a> |
                    <a title="Revoke permission" href="{% url 'personnel:revoke_permission' permission.pk %}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <p>No added permission</p>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content_content %}
