{% extends "funnshopp_base.html" %}
{% block title %}{{ request.user.personnel }} sales{% endblock title %}
{% load bet9ja_tags_and_filters %}
{% block content_content %}

<div class="row">
    <div class="col-sm-12">
        <h2>{{ request.user.personnel }} sales <a href="{% url 'bet9ja:new_sale' %}"><i class="fas fa-plus h4" style="margin-bottom:0"></i></a></h2>
    </div>
</div>

    <hr>
    <form action="{% url 'personnel:personnel_sale_filter' %}" method="get" enctype="multipart/form-data">
        <section class="jumbotron jumbotron-filter text-center">
        {% for field in sale_filter_form %}
            <span class="btn btn-filter">{{ field }}</span>
        {% endfor %}
            <span class='btn btn-filter'>
                <button class="btn btn-success btn-sm float-right" type="submit" value="Continue">Continue</button>
            </span>
        </section>
    </form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Sales</caption>
        </thead>
        <tr>
            <th>S/N</th>
            <th>Date</th>
            <th>Personnel</th>
            <th>Branch</th>
            <th>Product</th>
            <th>Cashier</th>
            <th>Amount</th>
            <th>Tickets</th>
            <th>ID</th>
            <th>Remit</th>
            <th>Manager</th>
            <th>CEO</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>

        {% if sales %}
        <tbody>
            {% for sale in sales %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sale.created|date:"d/M/Y G:i:s" }}</td>
                    <td>{{ sale.personnel.display_name }}</td>
                    <td>{{ sale.branch }}</td>
                    <td>{{ sale.product }}</td>
                    <td>{{ sale.cashier }}</td>
                    <td>{{ sale.amount}}</td>
                    <td>{{ sale.tickets }}</td>
                    <td><a href="{% url 'bet9ja:new_remit' sale.pk sale.sale_id %}" title="New remit">{{ sale.sale_id}}</a></td>
                    <td>{{ sale.remit }}</td>

                    {% if sale.manager_check %}
                        <td><a title="Manager unconfirm" href="{% url 'bet9ja:manager_sale_check' sale.pk %}"><i class="fas fa-check-circle text-success"></i></a></td>
                    {% else %}
                        <td><a title="Manager confirmation" href="{% url 'bet9ja:manager_sale_check' sale.pk %}" class="text-danger"><i class="fas fa-check-circle text-danger"></i></a></td>
                    {% endif %}

                    {% if sale.ceo_check %}
                        <td><a title="CEO unconfirm" href="{% url 'bet9ja:ceo_sale_check' sale.pk %}"><i class="fas fa-check-circle text-success"></i></a></td>
                    {% else %}
                        <td><a title="CEO confirmation" href="{% url 'bet9ja:ceo_sale_check' sale.pk %}"><i class="fas fa-check-circle text-danger"></i></a></td>
                    {% endif %}

                    <td>{{ sale.notes }}</td>
                    <td>
                        <a href="{% url 'bet9ja:edit_sale' sale.pk %}"><i class="fas fa-edit"></i></a> |
                        <a href="{% url 'bet9ja:delete_sale' sale.pk %}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ sales|summ_sales }}</td>
                <td>{{ sales|summ_tickets }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        {% else %}
            <p>No sales to show</p>
        {% endif %}
    </table>
</div>

{% endblock content_content %}

