{% extends "funnshopp_base.html" %}
{% block title %}Edit personnel by {{ request.user.personnel.display_name }}{% endblock %}
{% block content_content %}

<div class="container upload-form">

    <h2>Edit personnel by {{ request.user.personnel.display_name }}</h2>
    <hr>

    {% if form.errors %}
        <div class="row">
            <div class="col-sm-12">
                <p>{{ form.errors }}</p>
            </div>
        </div>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-success btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>

{% endblock %}

