<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'css/report.css' %}">
        <title>FunnShopp &#124; {{ filename }}</title>
    </head>

    <body>
        <h2>
            FunnShopp &#124; {{ filename }}
                <a href='{% url "personnel:report" "pdf" %}' class="pdf-btn">Save as pdf</a>
        </h2>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Display</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Designation</th>
                    <th>Job status</th>
                    <th>Account status</th>
                    <th>Manager</th>
                    <th>Groups</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Bank</th>
                    <th>Salary</th>
                    <th>Last seen</th>
                </tr>
            </thead>

            <tbody>
            {% for item in items %}
                <tr>
                    <td><strong>
                        <a href="{% url 'personnel:detail' item.pk item.slug %}">{{ item.display_name }}</a>
                    </strong></td>
                    <td>{{ item.first_name.title }}</td>
                    <td>{{ item.last_name.title }}</td>
                    <td>{{ item.designation }}</td>


                    <td>{{ item.status }}</td>
                    <td>{% if item.user.is_active %}Active{% else %}Inactive{% endif %}</td>
                    <td>{{ item.supervisor.display_name }}</td>

                    <td>{% with item.user.groups.all as pg %}
                            {% for each in pg %}
                                {{ each.name }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>

                    <td><a href="mailto:{{ personnel.user.email }}">{{ item.user.email }}</a></td>
                    <td>{{ item.phone }}</td>
                    <td>{% if item.bank %}
                            {{ item.bank }}
                        {% endif %}
                        </td>
                    <td>{{ item.salary|floatformat:"0" }}
                    <td>{{ item.user.last_login|date }}</td>
                </tr>
            {% empty %}
                <p>No registered personnel</p>
            {% endfor %}
            </tbody>
        </table>

        <div id="pageFooter"></div>
    </body>
</html>



