{% extends "viani_base.html" %}
{% block title %}Expenditures{% endblock title %}
{% block content %}
{% load v_rules %}
{% load account_tags_and_filters %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Expenditures</li>
    </ol>
</nav>

<div class="table-responsive">
    <table class="jobs_table">
        <thead>
            <caption>Expenditures</caption>
        </thead>
        <tr class="bg-dark">
            <th>S/N</th>
            <th>Created</th>
            <th>Date</th>
            <th>Job</th>
            <th>Item</th>
            <th>Personnel</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% if expenditures %}
        <tbody>
            {% for expenditure in expenditures %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ expenditure.created|date:"M d, Y" }}</td>
                    <td>{{ expenditure.date }}</td>
                    <td>
                        {% if expenditure.job %}
                        <a href="{% url 'shop:job_detail' expenditure.job.pk %}">{{ expenditure.job }}</a>
                        {% else %}
                        <a href="#">{{ expenditure.job }}</a>
                        {% endif %}
                    </td>
                    <td>{{ expenditure.item.title }}</td>
                    <td>{{ expenditure.personnel }}</td>
                    <td>{{ expenditure.amount }}</td>
                    <td>{{ expenditure.category.name.title }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ expenditures|sum_expenditure_amounts_in_expenditure_queryset }}</td>
                <td></td>
                <td></td>
            </tr>
            {% test_permission 'view_running_exp_total' request as view_running_exp_total %}
            {% if view_running_exp_total %}
            <tr class="bg-dark">
                <td>Running total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total_expenditure_value }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
        {% else %}
            <p>No expenditures found</p>
        {% endif %}
    </table>
</div>

{% endblock content %}

