{% extends "viani_base.html" %}
{% block title %}Revenues{% endblock title %}
{% load account_tags_and_filters %}
{% block content %}
{% load v_rules %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page">Revenues</li>
    </ol>
</nav>


<div class="table-responsive">
    <table class="jobs_table">
        <thead>
            <caption>Revenues</caption>
        </thead>
        <tr class="bg-dark">
            <th>S/N</th>
            <th>Created</th>
            <th>Date</th>
            <th>Personnel</th>
            <th>Amount</th>
            <th>Job</th>
            <th>Action</th>
        </tr>

        <tbody>
            {% for revenue in revenues %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ revenue.created|date:"M d, Y" }}</td>
                    <td>{{ revenue.date }}</td>
                    <td>{{ revenue.personnel }}</td>
                    <td>{{ revenue.amount }}</td>
                    <td><a href="{% url 'shop:job_detail' revenue.job.pk %}">{{ revenue.job }}</a></td>
                    <td></td>
                </tr>
            {% empty %}
                <p>No Revenues added yet</p>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ revenues|sum_revenues }}<br></td>
                <td></td>
                <td></td>
            </tr>

            {% test_permission 'view_running_rev_total' request as view_running_rev_total %}
            {% if view_running_rev_total %}
            <tr class="bg-dark">
                <td>Running total</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total_revenue_value }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}

