{% load thumbnail %}
{% load static %}

<ul class="navbar-nav ml-auto">
    {% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'shop:job_index' %}">Jobs</a></li>
            <li><a class="dropdown-item" href="{% url 'shop:customer_index' %}">Customers</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'account:revenues' %}">Revenues</a></li>
            <li><a class="dropdown-item" href="{% url 'account:expenditures' %}">Expenditures</a></li>
            <li><a class="dropdown-item" href="{% url 'account:accounting' %}">Summary</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'shop:job_new' %}">Job</a>
            <a class="dropdown-item" href="{% url 'shop:customer_new' %}">Customer</a>
            <a class="dropdown-item" href="{% url 'account:new_expenditure' %}">Expenditure</a>
            <div class="divider"></div>
            <a class="dropdown-item" href="{% url 'account:new_expenditure_type' %}">Expenditure type</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i></a>
        <div class="dropdown-menu">

            <a class="dropdown-item" href="#">Edit profile</a>
            {% if request.user.personnel.avatar %}
                <a class="dropdown-item" href="#">Change avatar</a>
            {% else %}
                <a class="dropdown-item" href="#">Add avatar</a>
            {% endif %}

            <a class="dropdown-item" href="{% url 'personnel:password_reset' %}">Reset password</a>
            <a class="dropdown-item" href="{% url 'personnel:password_change' %}">Change password</a>
            {% if user.is_admin %}
            <a class="dropdown-item text-success" href="/admin/">Admin</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'personnel:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </li>


    {% else %}
        <a class="nav-link" href="{% url 'personnel:login' %}">Login <i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
</ul>
