{% extends "viani_base.html" %}
{% block title %}Accounting{% endblock %}

{% block content %}

<h1>Accounting</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item active">Accounting</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-6">
        <h2>Accounts summary</h2>
        <div class="dropdown-divider"></div>
        <h3>Job value till date: <span class="text-danger">{{ total_job_value }}</span></h3>
        <h3>Income till date: <span class="text-danger">{{ total_payments }}</span></h3>
        <h3>Expenses till date: <span class="">{{ total_expenses }}</span></h3>
        <h3>Discounts till date: <span class="">{{ total_discounts }}</span></h3>
        <h3>Gross Profit till date: <span class="text-secondary">{{ gross_profit }}</span></h3>
        <h3>Banked till date: <span class="">{{ total_amount_banked }}</span></h3>
        <h3>Net profit till date: <span class="text-success">{{ net_profit }}</span></h3>
    </div>

    <div class="col-sm-6">
        <h2>Account statements</h2>
        <div class="dropdown-divider"></div>
    </div>
</div>


{% endblock content %}
