{% extends "viani_base.html" %}
{% block title %}Cashflows{% endblock title %}
{% load shop_tags_and_filters %}

{% block content %}

<h1>Cashflows</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cashflows</li>
    </ol>
</nav>

<div class="filter">
    <form action="{% url 'shop:cashflow_filter' %}" method="get" enctype="multipart/form-data">
        <div class="filter_fields text-center">
            {% for field in cashflow_filter_form %}
            <span>{{ field.label }}{{ field }}</span>
            {% endfor %}
        </div>
        <button class="btn btn-primary btn-md" type="submit" value="Continue">Continue</button>
    </form>
</div>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>S/N</th>
                <th>Job</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Item</th>
                <th>Banked</th>
                <th>Notes</th>
            </tr>
        </thead>

        {% if cashflows %}
        <tbody>
            {% for cashflow in cashflows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'shop:job_detail' cashflow.job.pk %}">{{ cashflow.job }}</a></td>
                    <td>{{ cashflow.created|date:"d/M/Y" }}</td>
                    <td>{{ cashflow.category }}</td>
                    {% if cashflow.category.name == 'expense' %}
                        <td class="text-danger">-{{ cashflow.amount }}</td>
                    {% else %}
                        <td class="text-success">{{ cashflow.amount }}</td>
                    {% endif %}
                    <td>{{ cashflow.name.title }}</td>

                    {% if cashflow.category.name == 'payment' %}
                        {% if cashflow.banked %}
                            <td><a href="{% url 'shop:bank_cashflow' cashflow.pk %}"><i class="fas fa-check-circle text-success"></i></a></td>
                        {% else %}
                            <td><a href="{% url 'shop:bank_cashflow' cashflow.pk %}" class="text-danger"><i class="fas fa-check-circle text-danger"></i></a></td>
                        {% endif %}
                    {% else %}
                        <td><a href="#"><i class="fas fa-check-circle text-secondary"></i></a></td>
                    {% endif %}

                    <td>{{ cashflow.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <p>No cashflows to show</p>
        {% endif %}
    </table>
</div>

{% endblock content %}

