{% extends "viani_base.html" %}
{% block title %}Customers{% endblock title %}
{% block content %}

<h1>Customers</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Customers</li>
    </ol>
</nav>

<!--

    <form action="" method="get" enctype="multipart/form-data">
        <section class="text-center">
            {% for field in customer_filter_form %}
            <span class="btn btn-filter">{{ field }}</span>
            {% endfor %}
            <span class='btn btn-filter'>
                <button class="btn btn-primary btn-sm float-right" type="submit" value="Continue">Continue</button>
            </span>
        </section>
    </form>
-->

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Customers</caption>
        </thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Sex</th>
            <th>Jobs</th>
            <th>Action</th>
        </tr>

        {% if customers %}
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'shop:customer_details' customer.pk %}">{{ customer.first_name.title }} {{ customer.last_name.title }}</a></td>
                    <td><a class="text-success" href="tel:{{ customer.phone }}">{{ customer.phone }}</a></td>
                    <td>{{ customer.address.title }}</td>
                    <td>{{ customer.sex.title }}</td>
                    <td>{{ customer.job_set.count }}</td>
                    <td><a href="{% url 'shop:edit_customer' customer.pk %}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        {% else %}
            <p>No customers to show</p>
        {% endif %}
    </table>
</div>

{% endblock content %}

