{% extends "viani_base.html" %}
{% block title %}Jobs{% endblock title %}

{% load shop_tags_and_filters %}

{% block content %}

<h1>Jobs</h1>
<h2 class="text-success">{{ completed_job_count }} jobs completed till date.</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
    </ol>
</nav>

<!--

    <form action="" method="get" enctype="multipart/form-data">
        <section class="text-center">
            {% for field in job_filter_form %}
            <span class="btn btn-filter">{{ field }}</span>
            {% endfor %}
            <span class='btn btn-filter'>
                <button class="btn btn-primary btn-sm float-right" type="submit" value="Continue">Continue</button>
            </span>
        </section>
    </form>
-->

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <caption>Jobs</caption>
        </thead>
        <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Value</th>
            <th>Discount</th>
            <th>Expense</th>
            <th>Payment</th>
            <th>Profit</th>
            <th>Start</th>
            <th>Completed</th>
            <th>Notes/Description</th>
            <th>Action</th>
        </tr>

        {% if jobs %}
        <tbody>
            {% for job in jobs %}

                {% if job.status == 5 %}
                    <tr style="background: #024602; color:white;">
                {% else %}
                    <tr>
                {% endif %}
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.short_description.title }}</a></td>
                        <td>{{ job.customer }}</td>
                        <td>Level {{ job.status }}</td>
                        <td>{{ job.value }}</td>
                        <td>{{ job.discount }}</td>
                        <td class="text-danger">{{ job.total_expense }}</td>
                        <td>{{ job.total_payment }}</td>
                        <td class="text-success">{{ job.profit }}</td>
                        <td>{{ job.start_date|date:"d/M/Y" }}</td>
                        <td>{{ job.completed|date:"d/M/Y" }}</td>
                        <td>{{ job.notes }}</td>
                        <td>
                            <a href="{% url 'shop:job_add_cashflow' job.pk %}" title="Add cashflow to this job"><i class="fas fa-plus"></i></a>&nbsp;
                            <a href="{% url 'shop:job_update_status' job.pk %}" title="Update status"><i class="fas fa-pencil-alt"></i></a>&nbsp;
                            <a href="{% url 'shop:job_edit' job.pk %}" title="Update status"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{ jobs|summ_values }}</strong></td>
                <td><strong>{{ jobs|summ_discounts }}</strong></td>
                <td><strong>{{ jobs|summ_total_expenses }}</strong></td>
                <td><strong>{{ jobs|summ_total_payments }}</strong></td>
                <td><strong>{{ jobs|summ_profits }}</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        {% else %}
            <p>No jobs to show</p>
        {% endif %}
    </table>
</div>

{% endblock content %}

