{% extends "viani_base.html" %}
{% block title %}{{ job }}{% endblock %}
{% load shop_tags_and_filters %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item"><a href="/shop/jobs/index/">Jobs</a></li>
        <li class="breadcrumb-item active">{{ job }}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12 job_actions_grid">
        <div class="job_actions">
            <a href="{% url 'account:add_revenue_to_job' job.pk %}"><button class="btn btn-md btn-success">Add payment</button></a>
            <a href="{% url 'account:add_expenditure_to_job' job.pk %}"><button class="btn btn-md btn-danger">Add expense</button></a>
            <a href="{% url 'shop:job_update_status' job.pk %}"><button class="btn btn-md btn-info">Update status</button></a>
            <a href="{% url 'shop:job_edit' job.pk %}"><button class="btn btn-md btn-primary">Edit</button></a>
            <a href="{% url 'shop:job_mark_accepted' job.pk %}"><button class="btn btn-md btn-success">Mark Accepted</button></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card viani_card">
            <div class="description">
                <h4>{{ job.description.title }}</h4>
            </div>
            <hr>

            <div class="figures">
                <div class="container">
                    <div class="row">
                        <div class="job__status-date">
                            <div class="">
                                {{ job.status|status_text }}
                                {% if job.status == 4 %}<i class="fas fa-check-circle text-success"></i>{% endif %}
                            </div>
                            <div class="">{{ job.start_date }}</div>
                            <div class="">{{ job.completed }}</div>

                        </div>
                    </div>
                </div>
                <hr>
                <p>Value: {{ job.value }}</p>
                <p>Discount: {{ job.discount }}</p>
                <p class="text-success">Payment: {{ job.total_payment }}</p>
                <p class="text-danger">Expenses: {{ job.total_expenditure }}</p>
                <p>Net profit: {{ job.net_profit }}</p>
                <p>Description: {{ job.description }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="card viani_card">
            <div class="customer">
                <h4>{{ job.customer }}</h4>
            </div>
            <hr>
            <div class="details">
                <p>{% if job.customer.phone %}{{ job.customer.phone }}{% else %}Phone{% endif %}</p>
                <p><a href="{% url 'shop:customer_details' job.customer.pk %}">Go to customer details</a></p>
            </div>
        </div>
        <div class="card viani_card">
            <h4>Payments</h4>
            <hr>
            {% for rev in job.revenue_set.all %}
            <p class="text-success">
                {{ forloop.counter }}.
                {{ rev.amount }} on {{ rev.date }}
            </p>
            {% endfor %}
        </div>
        <div class="card viani_card">
            <h4>Expenses</h4>
            <hr>
            {% for rev in job.expenditure_set.all %}
            <p class="text-danger">
                {{ forloop.counter }}.
                {{ rev.amount }} on {{ rev.date }}
            </p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
