{% extends "viani_base.html" %}
{% block title %}Jobs{% endblock title %}

{% load shop_tags_and_filters %}

{% block content %}

<h1>Jobs</h1>

{% if not filter_view%}
    <h4>Completed: {{ completed_job_count }} of {{ total_job_count }}</h4>
    <h4>Rate: {{ completion_rate }}%</h4>
{% endif %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
    </ol>
</nav>

<div class="filter">
    <form action="{% url 'shop:job_filter' %}" method="get" enctype="multipart/form-data">
        <div class="filter_fields text-center">
            {% for field in job_filter_form %}
            <span>{{ field.label }}{{ field }}</span>
            {% endfor %}
        </div>
        <button class="btn btn-primary btn-md" type="submit" value="Continue">Continue</button>
    </form>
</div>

<div class="table-responsive">
    <table class="jobs_table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Title</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Value</th>
                <th>Discount</th>
                <th>Expense</th>
                <th>Payment</th>
                <th>Profit</th>
            </tr>
        </thead>

        {% if jobs %}
        <tbody>
            {% for job in jobs %}

            {% if job.status == 4 %}
                <tr class='completed'>
            {% else %}
                <tr>
            {% endif %}
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ forloop.counter }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.description.title }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.customer }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.status|status_text }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.value }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.discount }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.total_expense }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.total_payment }}</a></td>
                    <td><a href="{% url 'shop:job_detail' job.pk %}">{{ job.gross_profit }}</a></td>
                </tr>
            {% endfor %}
            <tr class="summation_row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ jobs|summ_values }}</td>
                <td>{{ jobs|summ_discounts }}</td>
                <td class="text-danger">{{ jobs|summ_total_expenses }}</td>
                <td>{{ jobs|summ_total_payments }}</strong></td>
                <td class="text-success">{{ jobs|summ_profits }}</td>
            </tr>
        </tbody>
        {% else %}
            <p>No jobs to show</p>
        {% endif %}
    </table>
</div>

{% endblock content %}
