{% extends "viani_base.html" %}
{% block title %}Edit job{% endblock %}


{% block content %}


<h1>Edit job</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Shop</a></li>
        <li class="breadcrumb-item"><a href="/shop/jobs/index/">Jobs</a></li>
        <li class="breadcrumb-item active">Edit job</li>
    </ol>
</nav>

<div class="upload-form">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ form.as_p }}</p>

        <button class="btn btn-primary btn-sm float-right" type="submit" value="Save">Save</button>
    </form>
</div>

{% endblock content %}
